

.success {
    color: black;
    background: #00cc00;
    font-size: 15px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 25px;
    width: 40%;
}

.error {
    color: black;
    background-color: red;
    font-size: 15px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 25px;
    width: 40%;
}

.blog {
    border: 1px solid black;
    margin-bottom: 4px;
    margin-top: 8px;
    padding: 8px;
    width: 40%;
    box-shadow: 11px 13px 7px -7px rgba(0,0,0,0.75);

}